.navbar {
  background-color: rgb(65, 45, 45);
  padding: 10px;
}

.nav-list {
    list-style-type: none;
    display: flex;
    justify-content: center; /* Center the items horizontally */
    align-items: center;
    padding: 0;
    gap: 10px; /* Add gap between the items */
}


.nav-list li {
  margin-right: 10px;
}

.nav-list li a {
  text-decoration: none;
  color: #a99393;
}

.nav-list li a:hover {
  color: #666;
}
